*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

p {
    margin: 0px;
}

a{
    display: inline;
    color: #757575;

}

header{
    width: 100%;
    height: 84px;
    display: grid;
}

.app-bar-bg {
    width: 100%;
    height: 40px;
    padding: 20px 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
    display: flex;
}

.cuadro_apps{
    display: flex;
    width: 97%;
    margin-top: 5px;
}

.menu{
    height: 40px;
    width: 40px;
    font-size: 32px;
}

.social{
    height: 40px;
    width: 40px;
    font-size: 32px;  
    display: flex;
    margin-left: 70%;
}

.parrafo_social{
    margin: 5px;
    font-size: 16px;
}

.busqueda{
    height: 40px;
    width: 40px;
    font-size: 32px;
    margin-left: 18%;
    margin-right: 80px;
}

main{
    height: 86%;
    width: 100%;
    display: flex;
}

.content{
    height: 100%;
    width: 100%;
    display:flex;
}

.recuadro_gris{
    height: 100%;
    width: 40%;
    background-color: #d8d8d8;
}

.recuadro_blanco{
    height: 100%;
    width: 60%;
}

.div_circulo{
    height: 74.5%;
    width: 56%;
    background-color: #fb7373;
    border-radius: 100%;
    position: relative;
    top: 12%;
    left: 20%;
}

.introduccion{
    font-size: 20px;
    text-align: justify;
    width: 60%;
    padding-left: 20%;
    position: relative;
    top: 30%;
}

/* .texto_izquierda{
    margin-top: 45%;
} */

.texto{
    position: relative;
    width: 60%;
    left: 100px;
    top: 25%;
}

.line{
width: 50%;
height: 0px;
position: relative;
top: 30%;
left: 25%;
border: solid 2px #fb7373;
}





footer {
    height: 3%;
    width: 100%;
    background-color: #fb7373;
    border-bottom: #757575 1000px solid;
}