*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

p {
    margin: 0px;
}

a{
    display: inline;
    color: #ffffff;

}

header{
    width: 100%;
    height: 80px;
    display: grid;
}

.app-bar-bg {
    width: 100%;
    height: 40px;
    padding: 20px 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #757575;
    display: flex;
}

.cuadro_apps{
    display: flex;
    width: 97%;
}

.social{
    height: 36px;
    width: 96px;
    font-size: 16px;  
    display: flex;
    position: relative;
    left: 72.5%;
    top: 10%;
}

.social img{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 4px;
    left: 1.72px;
}

.social div img{
    height: 30px;
    width: 46px;
    position: absolute;
    top: 4px;
    left: 1.72px;
}

.social p{
    margin: 5px;
    font-size: 16px;
    position: relative;
    top: 4px;
    left: 60px;
}

.grid_social{
    display: grid;
    height: 80%;
    width: 100%;
    position: relative;
    top: 20%;
}

.grid_social a{
    display: flex;
}

.desplegable{
    display: none;
    align-items: center;
    position: relative;
    top: 25%;
}

.social:hover{
    background-color: #757575;
    height: 1000%;
    width: 21%;
    z-index: 10;
}

.social:hover .desplegable{
    display: block;
    position: relative;
    top: 25%;
}

.social:hover .grid_social p{
    position: relative;
    left: 30px;
    top: 30%;
    height: 10% ;
}

.social:active{
    background-color: #757575;
    height: 1000%;
    width: 21%;
    z-index: 10;
}

.social:active .desplegable{
    display: block;
    position: relative;
    top: 25%;
}

.social:active .grid_social p{
    position: relative;
    left: 30px;
}

.busqueda{
    height: 40px;
    width: 40px;
    font-size: 32px;
    position: relative;
    left: 84%;
    top: 10%;
}

.busqueda:hover{
    background-color: aqua;
    transform:translate(-100px);
    width: 240px;
}

main{
    height: 86%;
    width: 100%;
    display: flex;
}

.content{
    height: 100%;
    width: 100%;
    display:flex;
}

.recuadro_gris{
    height: 100%;
    width: 40%;
    background-color: #757575;
}

.grid_menu{
    display: grid;
    grid-row-start: 0;
    grid-row-end: 5;
    position: relative;
    top: 13%;
    height: 70%;
    grid-gap: 10%;
    margin-left: 20%;
    margin-right: 20%;
}


.opciones a{
    display: flex;
    height: 100%;
}

.opciones img{
    position: relative;
    top: 20%;
    height: 30px;
    width: 30px;
}

.opciones p{
    align-self: center;
    position: relative;
    left:10%;
    color: #ffffff;
}

.recuadro_blanco{
    height: 100%;
    width: 60%;
}

.div_circulo{
    height: 74.5%;
    width: 56%;
    background-color: #FBA673;
    border-radius: 100%;
    position: relative;
    top: 12%;
    left: 20%;
}

.introduccion{
    font-size: 20px;
    text-align: justify;
    width: 70%;
    padding-left: 15%;
    position: relative;
    top: 20%;
}

.texto{
    position: relative;
    width: 60%;
    left: 17%;
    top: 25%;
}

footer {
    height: 3%;
    width: 100%;
    background-color:#FBA673;
    border-bottom: #757575 1000px solid;
}