* {
    font-size: 6.25%;
    padding: 0;
    margin: 0;
    box-sizing: "border-box";
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 245, 220);
}

h1{
    font-size:40rem;
    margin: 8rem;
    text-align: center;
    margin-bottom: 12rem;
}

nav{
    text-align: center; 
    position: relative;
    background-color: aquamarine;
    margin-left: 60rem;
    margin-right: 60rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-radius: 4rem;
}

a{
    list-style-type: none;
    font-size: 28rem;
    display: inline;
    position: inherit;
    margin: 15rem;
    padding: 4rem;
    background-color: #A8A887;
    border-radius: 4rem;
}

.general_container{
    height: 460rem;
    position: relative;
    top: 15rem;
}

.container{
    display: flex;   
    align-items: center;
    position: relative;
    justify-content: center;
    top: 30rem;

}

.foto_personal{
    /* position: relative; */
    left: 220rem;
    /* top: 50rem; */
    height: 400rem;
    width: 250rem;
}

.texto_personal{
    font-size: 30rem;
    margin-left: 20rem;
    left: 350rem;
    max-width: 500rem;
    padding: 20rem;
    text-align: justify;
}

.iconos{
    height: 60rem;
    top: 20rem;
    position: relative;
}

.previous{
    border: 0;
    line-height: 2.5;
    text-align: center;
    background-color: rgba(200, 0, 0, 1);
    border-radius: 10rem;
    margin: 10rem;
}

.previous img{
    height: 30rem;
    width: 30rem;
    background-color:rgba(200, 0, 0, 1) ;
    position: relative;
    top: 3rem;
    left: 1rem;
    border-radius: 0rem;

}

.previous:hover {
    background-color: rgba(255, 0, 0, 1);   
}

.previous:active {
    background-color:  rgba(255, 255, 255, .6);
    color: rgba(255, 255, 255, .6);
}

.play{
    border: 0;
    line-height: 2.5;
    text-align: center;
    background-color: rgba(200, 0, 0, 1);
    border-radius: 10rem;
    margin: 10rem;
}

.play img{
    height: 30rem;
    width: 30rem;
    background-color:rgba(200, 0, 0, 1) ;
    position: relative;
    top: 3rem;
    left: 1rem;
    border-radius: 0rem;
}

.play:hover {
    background-color: rgba(255, 0, 0, 1);   
}

.play:active {
    background-color:  rgba(255, 255, 255, .6);
    color: rgba(255, 255, 255, .6);
}

.next{
    border: 0;
    line-height: 2.5;
    text-align: center;
    background-color: rgba(200, 0, 0, 1);
    border-radius: 10rem;
    margin: 10rem;
}

.next img{
    height: 30rem;
    width: 30rem;
    background-color:rgba(200, 0, 0, 1) ;
    position: relative;
    top: 3rem;
    left: 1rem;
    border-radius: 0rem;
}

.next:hover {
    background-color: rgba(255, 0, 0, 1);   
}

.next:active {
    background-color:  rgba(255, 255, 255, .6);
    color: rgba(255, 255, 255, .6);
}

.music{
    display: flex;
    position: relative;
    left: 60rem;
}

