*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

p {
    margin: 0px;
}

a{
    display: inline;
    color: #757575;

}

header{
    width: 100%;
    height: 80px;
    display: grid;
}

.app-bar-bg {
    width: 100%;
    height: 40px;
    padding: 20px 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
    display: flex;
}

.cuadro_apps{
    display: flex;
    width: 97%;
    /* position: relative;
    top: 5px; */
    /* margin-top: 5px; */
}

.menu a{
    height: 36px;
    width: 36px;
    font-size: 32px;
}

.menu:hover{
    transform: rotate(90deg);
    position: relative;
    top: -10%;
}

.social{
    height: 36px;
    width: 96px;
    font-size: 32px;  
    display: flex;
    position: relative;
    left: 70%;
}

.social a{
    position: relative;
    top: 10%;
}

.social p{
    margin: 5px;
    font-size: 16px;
    position: relative;
    top: 10%;
}

.social:hover{
    background-color: aqua;
}

.busqueda{
    height: 40px;
    width: 40px;
    font-size: 32px;
    position: relative;
    left: 81.5%;
}

.busqueda a{
    height: 40px;
    position:relative;
    top: 0;
}

.busqueda:hover{
    background-color: aqua;
}


main{
    height: 86%;
    width: 100%;
    display: flex;
}

.content{
    height: 100%;
    width: 100%;
    display:flex;
}

.recuadro_gris{
    height: 100%;
    width: 40%;
    background-color: #e0e0e0;
}

.recuadro_blanco{
    height: 100%;
    width: 60%;
}

.div_circulo{
    height: 74.5%;
    width: 56%;
    background-color: #fb7373;
    border-radius: 100%;
    position: relative;
    top: 12%;
    left: 20%;
}

.fotos{
    margin: 0;
    padding: 0;
    height: 60%;
    width: 66%;
    position: relative;
    top: 16.5%;
    left: 16.5%;
    background-color: #FBA673;
}





footer {
    height: 3%;
    width: 100%;
    background-color: #fb7373;
    border-bottom: #757575 1000px solid;
}