.footer{
    background-color:#202020;
    height: 50px; 
    border-color: #dfdfdf;
    
}

.github{
    filter: invert(1);
    height: 100%; 
    position:relative
}

.linkedln{
    filter: invert(0);
    top: 20%;
    height: 60%; 
    position:relative
}