#flecha-inicio{
    rotate: 22deg;
    height: 10%; 
    filter: invert(0.75)
}

#contenedor-flecha{
    width: 10%;
}

#titulo{
    background-color: #343a40; 
    color: #dfdfdf;
}

#box{
    background-color: #202020; 
    color: #dfdfdf;
    border-radius: 10px;
}