.titulo{
    background-color: #343a40; 
    color: #dfdfdf;
}

.container{
    color: #dfdfdf;
    background-color: #202020;
    border-radius: 10px;
}

.estudio{
    text-align: center;
}

.experiencias{
    text-align: center;
}